<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<form th:action="@{/login}" method="post">
    <label for="telefonnr">Telefon-Nr:</label>
    <input id="telefonnr" type="tel" th:object="${telefonnr}" required/><br><br>

    <label for="password">Passwort:</label>
    <input id="password" type="password" th:object="${password}" required/><br><br>

    <button type="submit">Login</button>
</form>
</body>
</html>
